a, li {
  color: #FFFFFF;
  :hover {
    color: #FFFFFF;
  }
}

li .preferences-item{
  a {
    color: $blue;
  }
  :hover {
    color: #FFFFFF;
    background-color: #3A3B40;
  }
}

.header {
  padding: 0px 150px;
  background-color: $blue;
}

.nav-right {
  padding: 20px 0px;
}

.user-data {
  padding-top: 5px;
  margin-top: 10px;
  color: #FFFFFF;
}

.dash-nav-icon {
  height: 100px;
  width: 100px;
}

.logo2 {
  position: relative;
  margin-top: 10px;
  float: right;
  height: 90px;
  width: 90px;
  background-image: url("../pics/login/logo.png");
  background-size: cover;
}

.avatar2 {
  position: relative;
  margin-top: 10px;
  float: right;
  height: 90px;
  width: 90px;
  border-radius: 5px;
  background-image: url("../pics/login/avatar.jpg");
  background-size: cover;
}

.icon {
  font-size: 1.6rem;
}
.icon-user {
  font-size: 1.2rem;
}

.nav-ul {
  text-align: center;
  margin-bottom: 0px;
}

.nav-li, .right-li {
  position: relative;
  display: inline-block;
  padding-top: 20px;
  width: 100px;
  text-align: center;
  &:hover {
    color: #FFFFFF;
    background-color: #3A3B40;
    &:after {
      border: 5px solid blue;
    }
  }
  & p {
    padding-top: 10px;
  } &:hover {
    color: #FFFFFF;
  }
}


.nav-li:hover::after {
  border:10px solid red;
}

.right-li-border {
  border-right: 1px solid #FFFFFF;
}