.columns, p {
  padding: 0px;
}

a, li, ul {
  list-style-type: none;
  margin: 0px;
  color: #FFFFFF;
  :hover {
    color: #FFFFFF;
  }
}

li .preferences-item {
  a {
    color: $blue;
  }
  :hover {
    color: #FFFFFF;
    background-color: #3A3B40;
  }
}

header, .header {
  padding: 0px 0px;
  background-color: $blue;
}

.logo2 {
  height: 80px;
  width: 80px;
  background-image: url("../pics/login/logo.png");
  background-size: cover;
}

.avatar2 {
  height: 80px;
  width: 80px;
  border-radius: 5px;
  background-image: url("../pics/login/avatar.jpg");
  background-size: cover;
}

.nav-left {
  margin-top: 10px;
  color: #FFFFFF;
}

.user-data {
  display: inline-block;
}

.icon {
  font-size: 1.6rem;
}

.icon-user {
  font-size: 1.2rem;
  display: inline;
  padding: 10px 0px 5px 15px;
}

.nav-ul {
  text-align: center;
  margin-bottom: 0px;
  .nav-li, .right-li {
    position: relative;
    display: inline-block;
    padding-top: 20px;
    width: 80px;
    text-align: center;
    &:hover {
      color: #FFFFFF;
      background-color: #3A3B40;
      &:after {
        border: 5px solid blue;
      }
    }
    & p {
      padding-top: 10px;
    }
    &:hover {
      color: #FFFFFF;
    }
  }
}

.nav-right {
  float: right;
  padding: 20px 0px;
}

.right-li-border {
  border-right: 1px solid #FFFFFF;
}

.finance-aside {
  position: relative;
  margin-top: 40px;
  & .add-span {
    //vertical-align: middle;
  }
  & .button-aside {
    width: 90px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 8px 5px;
    margin-bottom: 0px;
    background-color: $lightblue;
  }
}

.switch-group {
  margin-top: 20px;
}