.blue {
  height: 700px;
  width: 100%;
  border: solid 1px #13bdd2;
  border-radius: 10px;
}

.lightblue {
  width: 90%;
  margin: auto;
  margin-top: 100px;
  border: solid 1px #45cbdb;
  border-radius: 5px;
  padding: 50px 50px 50px 50px;
}

.login, .login-data, .password-data{
  margin-top: 40px;
  text-align: center;
  color: #FFFFFF;
  & h1 {
    font-size: 40px;
  }
  & p {
    font-size: 20px;
  }
}

.login-data {
  font-weight: 600;
  font-size: 1.4em;
  margin-bottom: 20px;
}


.password-input {
  display: block;
  overflow: hidden;
}

.password-icon {
  float: right;
}